# --- [ General / OS ] ---
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
*.log
*.tmp

# --- [ IDEs ] ---
.vscode/
.vs/
*.user
*.userosscache
*.sln.docstates
.idea/

# --- [ .NET / C# ] ---
# Binaries and intermediate files
[Bb]in/
[Obj]/
# EF Core migrations (optional to ignore, but usually you keep them)
# If you want to ignore appsecrets/local configs:
appsettings.Development.json
PantryApi/bin/
PantryApi/obj/
out/
publish/

# ca sa nu pun adresa ip pe github
PantryMobile/constants/Config.ts

# --- [ Node / React Native / Expo ] ---
node_modules/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
web-build/

# Native folders (only if you run 'npx expo prebuild')
android/
ios/

# Environment variables (CRITICAL: Never push secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- [ Database ] ---
# If you run a local DB and it generates files
*.db
*.sqlite